<div *ngIf="errorMessage" id="alert-border-2" class="flex items-center p-4 mb-4 text-red-800 border-t-4 border-red-300 bg-red-50 dark:text-red-400 dark:bg-gray-800 dark:border-red-800" role="alert">
  <svg class="flex-shrink-0 w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
    <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
  </svg>
  <div class="ms-3 text-sm font-medium">
    {{ errorMessage }}
  </div>
  <button type="button" class="ms-auto -mx-1.5 -my-1.5 bg-red-50 text-red-500 rounded-lg focus:ring-2 focus:ring-red-400 p-1.5 hover:bg-red-200 inline-flex items-center justify-center h-8 w-8 dark:bg-gray-800 dark:text-red-400 dark:hover:bg-gray-700" (click)="dismissError()">
    <span class="sr-only">Dismiss</span>
    <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
    </svg>
  </button>
</div>
  <div *ngIf="postings.length > 0" class="mt-4 relative">
    <h2 class="text-lg font-bold mb-10 text-center">Transaction Postings</h2>
   <div class="absolute top-3 right-10 flex space-x-4 mt-6">
    <button (click)="exportToExcel()" class="relative float-right bg-gradient-to-r from-green-400 via-green-500 to-green-600 hover:bg-gradient-to-br text-white px-3 py-1 rounded hover:bg-green-600">
      Exporter les Postings
    </button>
      <button (click)="exportMouvementsToExcel()" class="relative float-right bg-gradient-to-r from-teal-400 via-teal-500 to-teal-600 hover:bg-gradient-to-br text-white px-3 py-1 rounded hover:bg-teal-600">
        Exporter les Mouvements
      </button>
     <button (click)="exportCresToExcel()" class="relative float-right bg-gradient-to-r from-cyan-400 via-cyan-500 to-cyan-600 hover:bg-gradient-to-br text-white px-3 py-1 rounded hover:bg-cyan-600">
       Exporter les PostingCres
     </button>
     <button (click)="exportAllDataToExcel()" class="relative float-right bg-gradient-to-r from-lime-400 via-lime-500 to-lime-600 hover:bg-gradient-to-br text-white px-3 py-1 rounded hover:bg-lime-600">
       Exporter Tous
     </button>
  </div>

    <div>
    <div class="shadow-lg rounded-lg overflow-x-auto mx-4 md:mx-10 mt-8">
       <table class="min-w-full divide-y divide-gray-200">
          <thead>
          <tr class="bg-gray-100">
            <th class=" whitespace-nowrap py-4 px-6 text-center text-gray-600 font-bold uppercase">Transaction ID</th>
            <th class=" whitespace-nowrap py-4 px-6 text-center text-gray-600 font-bold uppercase">Transaction Seq No</th>
            <th class=" whitespace-nowrap py-4 px-6 text-center text-gray-600 font-bold uppercase">Bank Account Seq No</th>
            <th class=" whitespace-nowrap py-4 px-6 text-center text-gray-600 font-bold uppercase">Account Type</th>
            <th class=" whitespace-nowrap py-4 px-6 text-center text-gray-600 font-bold uppercase">Etat</th>
          </tr>
          </thead>
          <tbody class="bg-white">
          <tr *ngFor="let posting of postings" class="border-b border-gray-200" >
            <td class="whitespace-nowrap py-4 px-6 text-center">{{ posting.transactionid }}</td>
            <td class="whitespace-nowrap py-4 px-6 text-center">{{ posting.transactionseqno }}</td>
            <td class="whitespace-nowrap py-4 px-6 text-center" (click)="openDialog(posting)" [title]="posting.backofficeaccountno">
              {{ posting.backofficeaccountno | slice:0:20 }}{{ posting.backofficeaccountno.length > 20 ? '...' : '' }}
            </td>
            <td class="whitespace-nowrap py-4 px-8 text-center">{{ posting.accounttype }}</td>
            <td class="whitespace-nowrap py-4 px-6 text-center">
              <span [ngClass]="{
                'text-green-500': posting.etat === 'T',
                'text-red-500': posting.etat === 'M',
                'text-yellow-500': posting.etat === 'N'
              }">{{ posting.etat }}</span>
            </td>
          </tr>
          </tbody>
        </table>
    </div>
  </div>
  </div>
