<div class="mt-4 relative">
<h2 class="text-lg font-bold mb-2 text-center">Informations Détaillées</h2>
  <button type="button" class="absolute top-2 left-2 text-blue-500 hover:text-blue-700 focus:outline-none opacity-75 transition-opacity duration-150 ease-in-out" aria-label="Close" (click)="closeDialog()">
    <span class="sr-only">Dismiss</span>
    <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
    </svg>
  </button>
  <div class="shadow-lg rounded-lg overflow-x-auto mx-4 md:mx-10">
    <table class="min-w-full divide-y divide-gray-200">
      <thead>
      <tr class="bg-gray-100">
        <th class=" whitespace-nowrap py-4 px-6 text-center text-gray-600 font-bold uppercase">Transaction ID</th>
        <th class=" whitespace-nowrap py-4 px-6 text-center text-gray-600 font-bold uppercase">Transaction Seq No</th>
        <th class=" whitespace-nowrap py-4 px-6 text-center text-gray-600 font-bold uppercase">Bank Account Seq No</th>
        <th class="whitespace-nowrap py-4 px-6 text-center text-gray-600 font-bold uppercase">Account Type</th>
        <th class="whitespace-nowrap py-4 px-6 text-center text-gray-600 font-bold uppercase">Debit/Credit Flag</th>
        <th class="whitespace-nowrap py-4 px-6 text-center text-gray-600 font-bold uppercase">Posting Currency</th>
        <th class="whitespace-nowrap py-4 px-6 text-center text-gray-600 font-bold uppercase">Posting Amount</th>
        <th class=" whitespace-nowrap py-4 px-6 text-center text-gray-600 font-bold uppercase">Etat</th>
      </tr>
      </thead>
      <tbody class="bg-white">
      <tr  class="border-b border-gray-200">
        <td class="whitespace-nowrap py-4 px-6 text-center">{{ data.transactionid }}</td>
        <td class="whitespace-nowrap py-4 px-6 text-center">{{ data.transactionseqno }}</td>
        <td class="whitespace-nowrap py-4 px-6 text-center">{{ data.backofficeaccountno }}</td>
        <td class="whitespace-nowrap py-4 px-8 text-center">{{ data.accounttype }}</td>
        <td class="whitespace-nowrap py-4 px-6 text-center">{{ data.debitcreditflag }}</td>
        <td class="whitespace-nowrap py-4 px-6 text-center">{{ data.postingccy }}</td>
        <td class="whitespace-nowrap py-4 px-6 text-center">{{ data.postingamount }}</td>
        <td class="whitespace-nowrap py-4 px-6 text-center">
            <span [ngClass]="{
              'text-green-500': data.etat === 'T',
              'text-red-500': data.etat === 'M',
              'text-yellow-500': data.etat === 'N'
            }">{{ data.etat }}</span>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

</div>

